{% extends "layout/templatelogin.html" %} {% block content %}
<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a
                href="{{url_for('index')}}"
                class="logo d-flex align-items-center w-auto"
              >
              <img src="https://res.cloudinary.com/dvyulmmks/image/upload/v1686192138/tga/arabica-541_hsjbut.png" alt="" />
                <span class="d-none d-lg-block">WaterClassification</span>
              </a>
            </div>
            <!-- End Logo -->
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Register
                  </h5>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} {% for category, message in messages %} {% if
                category == "success" %}
                <div class="alert alert-success">{{ message }}</div>
                {% else: %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
                <form
                  class="row g-3 needs-validation"
                  action="{{url_for('register')}}"
                  method="POST"
                  novalidate
                >
                  <div class="col-12">
                    <label for="nama" class="form-label">Nama Lengkap</label>
                    <input
                      type="text"
                      name="nama"
                      class="form-control"
                      id="nama"
                      required
                    />
                    <div class="invalid-feedback">Masukkan Nama Lengkap</div>
                  </div>

                  <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      id="email"
                      required
                    />
                    <div class="invalid-feedback">
                      Masukkan Email
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="username" class="form-label"
                      >Username</label
                    >
                    <div class="input-group has-validation">
                      <input
                        type="text"
                        name="username"
                        class="form-control"
                        id="username"
                        required
                      />
                      <div class="invalid-feedback">
                        Masukkan Username
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="password"
                      required
                    />
                    <div class="invalid-feedback">
                      Masukkan Password
                    </div>
                  </div>

                  <div class="col-7 mx-auto">
                    <button
                      class="btn btn-primary w-100 rounded-pill"
                      name="simpan"
                      type="submit"
                    >
                      Register
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      Sudah Memiliki Akun? 
                      <a href="{{url_for('login')}}">login</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->
{% endblock %}
